* {
  box-sizing: border-box;
  font-family: Roboto;
  line-height: normal;
  font-style: normal;

}

:root {
  --gray---gray-1: #fff;
  --gray---gray-2: #fafafa;
  --gray---gray-3: #f5f5f5;
  --gray---gray-4: #e8e8e8;
  --gray---gray-5: #d9d9d9;
  --gray---gray-6: #bfbfbf;
  --gray---gray-7: #8c8c8c;
  --gray---gray-8: #595959;
  --gray---gray-9: #262626;
  --gray---gray-10: #000;
  --daybreak-blue---blue-1: #e6f7ff;
  --daybreak-blue---blue-2: #bae7ff;
  --daybreak-blue---blue-3: #91d5ff;
  --daybreak-blue---blue-4: #69c0ff;
  --daybreak-blue---blue-5: #40a9ff;
  --daybreak-blue---blue-6: #1890ff;
  --daybreak-blue---blue-7: #096dd9;
  --daybreak-blue---blue-8: #0050b3;
  --daybreak-blue---blue-9: #003a8c;
  --daybreak-blue---blue-10: #002766;
  --dust-red---red-1: #fff1f0;
  --dust-red---red-2: #ffccc7;
  --dust-red---red-3: #ffa39e;
  --dust-red---red-4: #ff7875;
  --dust-red---red-5: #ff4d4f;
  --dust-red---red-6: #f5222d;
  --dust-red---red-7: #cf1322;
  --dust-red---red-8: #a8071a;
  --dust-red---red-9: #820014;
  --dust-red---red-10: #5c0011;
  --volcano---volcano-1: #fff2e8;
  --volcano---volcano-2: #ffd8bf;
  --volcano---volcano-3: #ffbb96;
  --volcano---volcano-4: #ff9c6e;
  --volcano---volcano-5: #ff7a45;
  --volcano---volcano-6: #fa541c;
  --volcano---volcano-7: #d4380d;
  --volcano---volcano-8: #ad2102;
  --volcano---volcano-9: #871400;
  --volcano---volcano-10: #610b00;
  --sunset-orange---orange-1: #fff7e6;
  --sunset-orange---orange-2: #ffe7ba;
  --sunset-orange---orange-3: #ffd591;
  --sunset-orange---orange-4: #ffc069;
  --sunset-orange---orange-5: #ffa940;
  --sunset-orange---orange-6: #fa8c16;
  --sunset-orange---orange-7: #d46b08;
  --sunset-orange---orange-8: #ad4e00;
  --sunset-orange---orange-9: #873800;
  --sunset-orange---orange-10: #612500;
  --calendula-gold---gold-1: #fffbe6;
  --calendula-gold---gold-2: #fff1b8;
  --calendula-gold---gold-3: #ffe58f;
  --calendula-gold---gold-4: #ffd666;
  --calendula-gold---gold-5: #ffc53d;
  --calendula-gold---gold-6: #faad14;
  --calendula-gold---gold-7: #d48806;
  --calendula-gold---gold-8: #ad6800;
  --calendula-gold---gold-9: #874d00;
  --calendula-gold---gold-10: #613400;
  --sunrise-yellow---yellow-1: #feffe6;
  --sunrise-yellow---yellow-2: #ffffb8;
  --sunrise-yellow---yellow-2: #fffb8f;
  --sunrise-yellow---yellow-4: #fff566;
  --sunrise-yellow---yellow-5: #ffec3d;
  --sunrise-yellow---yellow-6: #fadb14;
  --sunrise-yellow---yellow-7: #d4b106;
  --sunrise-yellow---yellow-8: #ad8b00;
  --sunrise-yellow---yellow-9: #876800;
  --sunrise-yellow---yellow-10: #614700;
  --lime---lime-1: #fcffe6;
  --lime---lime-2: #f4ffb8;
  --lime---lime-3: #eaff8f;
  --lime---lime-4: #d3f261;
  --lime---lime-5: #bae637;
  --lime---lime-6: #a0d911;
  --lime---lime-7: #7cb305;
  --lime---lime-8: #5b8c00;
  --lime---lime-9: #3f6600;
  --lime---lime-10: #254000;
  --polar-green---green-1: #f6ffed;
  --polar-green---green-2: #d9f7be;
  --polar-green---green-3: #b7eb8f;
  --polar-green---green-4: #95de64;
  --polar-green---green-5: #73d13d;
  --polar-green---green-6: #52c41a;
  --polar-green---green-7: #389e0d;
  --polar-green---green-8: #237804;
  --polar-green---green-9: #135200;
  --polar-green---green-10: #092b00;
  --cyan---cyan-1: #e6fffb;
  --cyan---cyan-2: #b5f5ec;
  --cyan---cyan-3: #87e8de;
  --cyan---cyan-4: #5cdbd3;
  --cyan---cyan-5: #36cfc9;
  --cyan---cyan-6: #13c2c2;
  --cyan---cyan-7: #08979c;
  --cyan---cyan-8: #006d75;
  --cyan---cyan-9: #00474f;
  --cyan---cyan-10: #002329;
  --geek-blue---geekblue-1: #f0f5ff;
  --geek-blue---geekblue-2: #d6e4ff;
  --geek-blue---geekblue-3: #adc6ff;
  --geek-blue---geekblue-4: #85a5ff;
  --geek-blue---geekblue-5: #597ef7;
  --geek-blue---geekblue-6: #2f54eb;
  --geek-blue---geekblue-7: #1d39c4;
  --geek-blue---geekblue-8: #10239e;
  --geek-blue---geekblue-9: #061178;
  --geek-blue---geekblue-10: #030852;
  --golden-purple---purple-1: #f9f0ff;
  --golden-purple---purple-2: #efdbff;
  --golden-purple---purple-3: #d3adf7;
  --golden-purple---purple-4: #b37feb;
  --golden-purple---purple-5: #9254de;
  --golden-purple---purple-6: #722ed1;
  --golden-purple---purple-7: #531dab;
  --golden-purple---purple-8: #391085;
  --golden-purple---purple-9: #22075e;
  --golden-purple---purple-10: #120338;
  --magenta---magenta-1: #fff0f6;
  --magenta---magenta-2: #ffd6e7;
  --magenta---magenta-3: #ffadd2;
  --magenta---magenta-4: #ff85c0;
  --magenta---magenta-5: #f759ab;
  --magenta---magenta-6: #eb2f96;
  --magenta---magenta-7: #c41d7f;
  --magenta---magenta-8: #9e1068;
  --magenta---magenta-9: #780650;
  --magenta---magenta-10: #520339;
  --layout---bg: #f0f2f5;
  --layout---surface: #001529;
}

body {
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 124px;
  display: flex;
  align-items: center;
  /* border: 1PX solid red; */
}

.header-box {
  /* border: 1PX solid black; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.btn {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-primory {
  background: #1890ff;
  border: 1px solid #1890ff;
  color: #fff;
}

.login-image {
  fill: #fff;
}

.btn-outline {
  border: 1px solid #d9d9d9;
  background: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.00);
  color: #595959;
}

.cart-image {
  fill: #8c8c8c;
}

.shipping-image {
  fill: #fff;
}

.container {
  max-width: 1230px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  width: 100%;
}

.footer {
  min-height: 156px;
  display: flex;
  align-items: center;
  padding: 60px 0;
  /* border: 1PX solid red; */
}

.footer-box {
  /* border: 1PX solid black; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
  flex-wrap: wrap;
}

.footer-nav {
  flex-grow: 1;
}

.footer-nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px;
  flex-wrap: wrap;
}

.footer-nav ul li {
  font-weight: 400;
  font-size: 18px;
  color: #595959;

}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.logo {
  max-width: 100px;
}

.logo img {
  width: 100%;

}

/* ---------------------------- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.navbar-menu {
  margin-right: auto;
}


.menu-link {
  /* Отключили подчеркивание ссылок */
  text-decoration: none;
  /* взяли цвет родителя (body) */
  color: inherit;
}

.banner {
  margin-bottom: 56px;
}

.banner-item {
  background-image: url(./banners/banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  padding: 68px;
  border-radius: 10px;
  background-color: #fff1b8;
}

.banner-item--title {
  font-weight: 700;
  font-size: 39px;
  color: #302c34;
  max-width: 50%;
  margin-top: 0;
  margin-bottom: 15px;
}

.banner-item--subtitle {
  font-weight: 400;
  font-size: 24px;
  color: #302c34;
  max-width: 50%;
  margin: 0;
}

/* .products {} */

.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.products-header-title {
  font-weight: 700;
  font-size: 36px;
  color: #000;
  margin: 0;
}

.products-header--search {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background: #fff;
  min-width: 306px;
  min-height: 34px;
  padding: 5px 12px;
}

.products-header--search:focus {
  outline: none;
}

.products-header--search::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #bfbfbf;
}

.products-wrapper {
  margin-top: 44px;
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  row-gap: 30px;
  column-gap: 24px;

}

.products-card {
  width: calc((100%-48px)/3);
  border-radius: 7px;
  /* height: 377px; */
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  overflow: hidden;
  text-decoration: none;
}

.products-card__image {
  width: 100%;
}

.products-card__image img {
  width: 100%;
}

.products-card__description {
  padding: 20px 24px 34px 24px;
}

.products-card__description-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-card__description--title {
  font-weight: 700;
  font-size: 24px;
  color: #000;
  line-height: 32px;
  margin: 0;
}

.products-card__description-row:not(:last-child) {
  margin-bottom: 10px;
}

.products-card__description--bage {
  border-radius: 2px;
  padding: 1px 8px;
  /* width: 56px;
  height: 22px; */
  background: #262626;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  padding: 1px 8px;
}

.products-card__description--info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* gap: 25px; */
  row-gap: 8px;
  column-gap: 25px;
}

.products-card__description--info-rating {
  font-weight: 700;
  font-size: 18px;
  color: #ffc107;
}

.products-card__description--info-price {
  font-weight: 400;
  font-size: 18px;
  color: #8c8c8c;

}

.products-card__description--info-group {
  font-weight: 400;
  font-size: 18px;
  color: #8c8c8c;
  position: relative;
}

.products-card__description--info-group::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #8c8c8c;
  position: absolute;
  left: -14px;
  top: 7px;
}

.products-card__description--name {
  font-weight: 400;
  font-size: 24px;
  color: #000;
}

.products-card__description--text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  color: #8c8c8c;
  margin: 0;
}

.products-card__description-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 10px;
}

.products-card__description-controls--price {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.cart-modal__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
}

.cart-modal__overlay.open {
  display: flex;
}

.cart-modal {
  border-radius: 5px;
  max-width: 780px;
  width: 100%;
  /* height: 552px; */
  padding: 40px 45px;
  background: #fff;
}

.cart-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.cart-modal__header--title {
  font-weight: 700;
  font-size: 36px;
  color: #000;
  margin: 0;
}

.cart-modal__header--close {
  cursor: pointer;
}

.cart-modal__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 50px;
}

.cart-modal__footer--price {
  border-radius: 5px;
  padding: 15px 20px;
  background: #262626;
  font-weight: 700;
  font-size: 20px;
  color: #fafafa;
}

.cart-modal__footer--controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.cart-item:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.cart-item__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000;
  margin: 0;
}

.cart-item__controls {
  display: flex;
  align-items: center;
}

.cart-item__controls--price {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #000;
  margin-right: 47px;
}

.cart-item__controls button {
  border: 1px solid #40a9ff;
  border-radius: 2px;
  padding: 5px 14px;
  width: 36px;
  height: 32px;
  text-align: center;
  color: #40a9ff;
}

.cart-item__controls--count {
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000;

}

@media (max-width: 991px) {
  .banner-item--title {
    max-width: 100%;
  }

  .banner-item--subtitle {
    max-width: 100%;
  }

  .products-card {
    width: calc((100%-24px)/2);
  }

  .banner-item {
    background-image: none;
  }
}

@media (max-width: 768px) {
  .products-card {
    width: 100%;
  }
}